.search-bar {
    margin: 20px;
    text-align: center;
}

.search-bar input {
    width: 75%;
}

.video-list img {
    width: 12vh;
}

.video-detail .details {
    max-height: 20vh;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.list-group-item {
    height: 12vh;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    margin: 7px;
    cursor: pointer;
    transition-duration: 0.4s;
    border-radius: 4px;
}

.list-group-item:hover {
    border-radius: 4px;
    background-color: #eee;
    transition-duration: 0.4s;
    transform: translate(10%, 0%);
}